body{
    margin:0;
    background: white;
    color: white;
    font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media screen and (max-width: 640px){
    body{
        display:grid;
        grid-template-columns: auto;
        grid-template-areas:"header"
                            ".page1"
                            ".page2"
                            ".page3"
                            ".page4"
                            ".page5"
                            "footer"
    }
    .etoile{
        display:none;   
    }
    
    .etoile2{
        display:none;   
    }
    
    .etoile3{
        display:none;   
    }
    
    .imagesp1>img{
        width: 20vh !important;

    }
    
    .imagesp1{
        margin-top: 40% !important;   
    }
    
    .trait1 {
        display: none;
    }
    
    .trait2 {
        display: none;
    }
    
    .trait3 {
        transform: translateX(-30px);     
    }
    
    .trait5 {
        transform: translateX(-30px);     
    }
    
    .trait7 {
        transform: translateX(-30px);     
    }
    
    .commi>a>img{
        width: 80% !important;
    }
    
    .effacer {
        width: 12% !important;   
    }
    
    .envoyer {
        width: 12% !important;   
    }
    
    header {
        text-align: center; 
        z-index: 1;
    }
    
    .slogan {
        margin-bottom: 100px;   
    }
    
}

a{
    text-decoration: none;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #2c3e50;
    display: flex;
    font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

.commi{

    margin-top: 23x;
    margin-left: 3%;
    width: 15%;
}

.commi>a>img{
    width: 75%;
}

.real{
    font-size: 16px;
    font-weight: 900;
    margin-top: 42px;
    margin-left: 50%;
}

header>*:hover a{
color: #1abc9c;
}

.apropos{
    font-size: 16px;
    font-weight: 900;
    margin-top: 42px;
    margin-left: 5%;
}

.contact{
    font-size: 1p6x;
    font-weight: 900;
    margin-top: 42px;
    margin-left: 5%;
}

input{
    text-align: start;
    height: 50px;
    background: #e6e6e6;
    color: #666666;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 900;
}

input:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.custom-select{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color:#1abc9c;
    color: white;
    border: none;
    height: 50px;
    border-radius: 25px;
}

textarea{
    text-align: start;
    height: 50px;
    background: #e6e6e6;
    color: #666666;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 900;
    height: 5%;
}

textarea:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}
.effacer{
    background-color: #1abc9c
}
.envoyer{
    background-color: #1abc9c
}
.effacer:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background: #2c3e50;

}

.envoyer:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #2c3e50;

}

.page1{
    width:100%;
    height:100%;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
}

.contenupage1{
    margin-top: 5%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr;
}

.imagesp1>img{
width: 30vh;

}

.imagesp1{
    margin-top: 20%;
}

.imagesp1:hover img{

transform: scale(1.1);
transition: 0.5s;

}
    
  figcaption {
  opacity:0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  text-align:center;
  top: 100%;
  left:0%;
  background-color:#1abc9c ;
  margin-top: 5%;
  }
   
  figure:hover figcaption {
  transition:all 1s;
    opacity:1;
}

.slogan{
    text-align: center;
    margin-bottom: 100px;
}

.l1{
    font-size: 70px;
    font-weight: 900;
}

.l2{ display: flex;
}

.trait1{
    margin-left: 38%;
    margin-top: 2%;
    border-radius: 10px;
}
.etoile{ margin-left: -38%;}


.trait2{
    margin-left: 1%;
    margin-top: 2%;
    border-radius: 10px;
}

.13{
    font-size: 25px;
    font-weight: 300;
}
html{ scroll-behavior: smooth;
}

.page2{
    min-height: 110vh;
    scroll-margin-top: 20vh;
}

.realisations{
    margin-top: 3%;
    text-align: center;
    color: #2c3e50;
}

.realisl1{
    font-size: 50px;
    font-weight: 900;
    
}

.realisl2{ 
    display: flex;
}

.trait3{
    margin-left: 41%;
    margin-top: 2%;
    border-radius: 10px;
}

.etoile2{ margin-left: -38%;}

.trait4{
    margin-left: 1%;
    margin-top: 2%;
    border-radius: 10px;
}

.realisationsl1{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
    margin-top: 3%;
}

.realisationsl1>div>a>img{
margin-left: 5%;
width: 90%;
border-radius: 3%;
}

.texteimages{
    color: #2c3e50;
    opacity: 0;
    text-align: center;
    margin-top: 4%;

}

.imagover:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.realisationsl1>div:hover .texteimages{
opacity: 1;
}

.realisationsl2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
    margin-top: 3%;
}

.realisationsl2>div>a>img{
margin-left: 5%;
width: 90%;
border-radius: 3%;
}

.realisationsl2>div:hover .texteimages{
    opacity: 1;
}

.page3{
    margin-top: 2%;
    min-height: 100vh;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
    scroll-margin-top: 13vh;
}

.pageapropos{
    text-align:center ;
    color: white;
}

.proposl1{
    font-size: 50px;
    font-weight: 900;
}

.proposl2{ 
    display: flex;
}

.texteapropos{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    font-size: 20px;
    font-weight: 300;
  
}

.texteapropos>div{
margin-left: 10%;
}

.page4{
    min-height: 100vh;
    background: white;
    scroll-margin-top:20vh;
}

.contacteznous{
    margin-top: 3%;
    text-align: center;
    color: #2c3e50;
}

footer{
    background: #2c3e50;
    height: 35vh;
}

.basdepage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.adresse{
    margin-top: 5%;
    text-align: center;  
}

.adresse>div{
    margin-top: 5%;
}

.reseaux{
    margin-top: 5%;
    text-align: center;  
}
.reseaux>div{
    margin-top: 5%;
}

.coteacote{
    display: flex;
}
.reseaux>.coteacote{
    margin-left: 25%;
}

.reseaux>.coteacote>a{
    margin-left: 7%;
}

.coteacote>a>img{
    width: 50px;
    margin: auto;
}

.proposbdp{
    margin-top: 5%;
    text-align: center;  
}
.proposbdp>div{
    margin-top: 5%;
    margin: 5%;
}

.copyrights{
    background: #1b2631;
    height: 25%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}



